{% extends "layout.html" %}
{% block content %}
<div class="account-title" align="Middle">
 <h1>{{current_user.username}}'s Account</h1>
</div>
 <h1>Username: {{ current_user.username }}</h1>
 <h3>Phone: {{current_user.phone}}</h3>
 <h3>Email: {{current_user.email}}</h3>
 
 <div class="mt-3">
   <a href="{{ url_for('users.UserOrders', id=current_user.id) }}" class="btn btn-primary">View My Orders</a>
 </div>

  <form method="POST" action="{{ url_for('users.logout') }}">
      <button type="submit" class="logout-button">LOGOUT</button>
    </form>
{% endblock content %}