{% extends "layout.html" %}
{% block content %}
<form method="POST" action="{{ url_for('restaurant.add_food') }}" enctype="multipart/form-data" accept=".jpg,.jpeg,.png">
           {{ form.hidden_tag() }}
        <div>
          {{ form.image.label }} {{ form.image(class="form-control") }}
          {% for err in form.image.errors %}<div class="text-danger">{{ err }}</div>{% endfor %}
        </div>
      

    <div>
      {{ form.Name.label }} {{ form.Name(class="form-control") }}
      {% for err in form.Name.errors %}<div class="text-danger">{{ err }}</div>{% endfor %}
    </div>
    <div>
      {{ form.Quantity_Available.label }} {{ form.Quantity_Available(class="form-control") }}
      {% for err in form.Quantity_Available.errors %}<div class="text-danger">{{ err }}</div>{% endfor %}
    </div>
    <div>
      {{ form.status.label }} {{ form.status(class="form-control") }}
      {% for err in form.status.errors %}<div class="text-danger">{{ err }}</div>{% endfor %}
    </div>
    <div>
      {{ form.price.label }} {{ form.price(class="form-control") }}
      {% for err in form.price.errors %}<div class="text-danger">{{ err }}</div>{% endfor %}
    </div>
     <label>Select Location:</label>
    <div>
     {{ form.location_name(id="location_name", class_="form-control") }}
     <small class="form-text">You can type the location by hand, or click the map to fill it automatically.</small>
    </div>
    <div>
      {{ form.phone.label }} {{ form.phone(class="form-control") }}
      {% for err in form.phone.errors %}<div class="text-danger">{{ err }}</div>{% endfor %}
    </div>
 
     
  <div id="map" style="height: 300px;"></div>

      <button type="submit" class="btn btn-primary mt-3">Add Food</button>
</form>
{% endblock %}