{% extends "layout.html" %}
{% block content %}
   
<nav class="navbar">
  <div id="menu" align="middle">
            <a href="/index.html">| HOME</a> |
                       <a href="/about/contact_us.html">CONTACT</a> |
            <a href="/about/index.html">ABOUT</a> |=
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('account') }}">ACCOUNT</a> |
                <a href="{{ url_for('logout') }}">LOGOUT</a>
            {% else %}
                <a href="{{ url_for('login') }}">LOGIN</a> |
                <a href="{{ url_for('register') }}">REGISTER</a>
            {% endif %}
            <a href
</nav>
<center>
  <h1 class="text-center mb-4">Welcome To NoWasteAm</h1>
</center>
<center>
<h3 class="text-center mb-4"><strong>Share Food. Share Care</strong></h3>
</center>
<center>
 <img src="{{ url_for('static', filename='logo.jpg') }}" class="logo-img"> <!--Image Courtesy of Olio.com-->
</center>
<h1 class="text-center mb-4">Available Food: </h1>
    
  {% for food in  lists %}

  <div class="card listing" >
    <img src="{{url_for('static', filename='burger.jpg')}}" class="card-img-top" alt="Food Image" width="150" height="150">
    <h3>{{ food.Name }}</h3>
        <p>Quantity: {{ food.Quantity_Available }}</p>
        <p>Location: {{ food.location_name }}</p>
        

    {% if food.status != "Reserved!" %}
      <p class="status-normal"><strong>Status: {{ food.status }}</strong></p>
    {% else %}
      <p class="status"><strong>Status: {{ food.status }}</strong></p>
    {% endif %}
  
    <p>Available_until: {{ food.Available_until }}</p>
  <p>Food_Name: {{ food.food_name }}</p>
    <p>Distance: {{ food.distance }} km away from you</p>
     {% for err in food.errors %}<div class="text-danger">{{ err }}</div>{% endfor %}
     {% for message in food.messages %}<div class="text-success">{{ message }}</div>{% endfor %}
     {% if food.status != "Reserved!" %}
      <p class="status-normal"><strong>Status: {{ food.status }}</strong></p>
     {% endif %}
    {% if food.status != "Reserved!" %}
    <a href="{{ url_for('request_food', id=loop.index0) }}">
        <button type="submit" class="btn btn-success">Request</button>
    </a>
    {% else %}
      <button class="btn-disabled" disabled>Reserved</button>
    {% endif %}
  </div>
  {% endfor %}
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
              <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
  {% endwith %}
  {% for food in lists %}
    {% if food.Role == "Restaurant" %} 
     <a href="{{ url_for("add_food") }}" class= "btn-success">Add Food ?</a>       
    {% endif %}
 
    {% if food.Role != "Restaurant" %}
      <a aria-disabled="true" class="btn-disabled" role="link"  >Add Food ?</a>

    {% endif %}
  {% endfor %}


{% endblock content %}