 {% extends "layout.html" %}
    {% block content %}
    <h1 class="text-center mb-4">{{ food.Name }}</h1>

    <div class="card p-3">
        <p><strong>Quantity_Ordered:</strong> {{ food.Quantity_left }}</p>
        <p><strong>Location:</strong> {{ food.location_name }}</p>
        <p><strong>Latitude:</strong> {{ food.latitude }}</p>
        <p><strong>Longitude:</strong> {{ food.longitude }}</p>
        <p class="status-normal"><strong>Status:</strong> {{ food.status }}</p>

        {% if food.status != "Reserved!" %}
        <form method="POST" action="{{ url_for('confirm_request', id=id)}}">
            <button type="submit" class="btn btn-success">Confirm Request</button>
        </form>
        {% else %}
        <p class="status">Already Reserved</p>
        {% endif %}
    </div>

    <a href="{{ url_for('home') }}" class="btn btn-secondary mt-3">Back to Homepage</a>
      
    <div>{{ form.submit(class="btn btn-primary") }}</div>
{% endblock %}